{% extends "base.html" %}
{%block title%}{%endblock%}
{%block main_content%}

<div id="first-visual">
    <div id="instructions" class="lm-ghost-file-block lm-file-block-size">
        Got a file to share?  Drag-and-drop it here for a download link.
        <svg class="lm-file-arrow-img" viewBox="0 0 12 12">
          <path
                d="
                   M  1,  1
                   l  0,  10
                   l  8,  0
                   l  0, -8
                   l -2, -2
                   l -6,  0
                   M  7,  1
                   l  0,  2
                   l  2,  0
                   "
                stroke="#000"
                stroke-linecap="round"
                stroke-width="0.14"
                fill="#ccc"/>
          <path
                transform = "translate(6.5, 10.7) rotate(-22.5) scale(0.7)"
                d="
                   M  0, -4.8284
                   L -2, 0
                   L -0.55, -0.58
                   L -0.55, 1.3
                   L  0.55, 1.3
                   L  0.55, -0.58
                   L  2, 0
                   L  0, -4.8284
                   "
                stroke="#eee"
                stroke-linecap="round"
                stroke-width="0.2"
                fill="#000"/>
        </svg>

    </div>
</div>

<div id="draginto" class="lm-drag-receive">
</div>

<script>

function copyTextToClipboard(text)
{
    var textArea = document.createElement("textarea");
    // Style to make it as invisible as possible.
    // Place in top-left corner of screen regardless of scroll position.
    textArea.style.position = 'fixed';
    textArea.style.top = 0;
    textArea.style.left = 0;
    textArea.style.width = '2em';
    textArea.style.height = '2em';
    textArea.style.padding = 0;
    textArea.style.border = 'none';
    textArea.style.outline = 'none';
    textArea.style.boxShadow = 'none';
    textArea.style.background = 'transparent';
    textArea.value = text;

    document.body.appendChild(textArea);
    textArea.select();

    var result = true;
    try
    {
        var successful = document.execCommand('copy');
    }
    catch (err)
    {
        result = false;
    }

    document.body.removeChild(textArea);
    return result;
};

function readFile(file)
{
    var reader = new FileReader();
    var deferred = $.Deferred();

    reader.onload = function(evt)
    {
        var result = evt.target.result;
        if( result === "data:" )
            result = "data:;base64,";
        deferred.resolve( result );
    };

    reader.onerror = function()
    {
        deferred.reject( this );
    };

    reader.readAsDataURL( file );

    return deferred.promise();
};

function sendFile(file)
{
    var deferred = $.Deferred();
    var filename = file.name;
    $.when(readFile(file)).then( function(content)
    {
        $.when( $.ajax({
            type: "POST",
            url: "/upload-base64",
            dataType: "text",
            data: {filename: filename, content: content},
        }) ).then(
            function(result)
            {
                deferred.resolve(filename, result);
            }
        ).fail(
            function()
            {
                deferred.reject(filename);
            }
        );
    })

    return deferred.promise();
}

DragExt.init("lm-draggable", "lm-drag-receive",
    {
        getTransferDataMap : function(element)
        {
            return {};
        },

        getTransientObject : function(element)
        {
            return {};
        },

        getCustomDragImage : function(element)
        {
            return undefined;
        },

        getDefaultTransientObject : function()
        {
            return {type : "external", path: ""};
        },

        isDragAccepted : function(transientObject, target)
        {
            return true;
        },

        decorateForDragging : function(target)
        {

        },

        decorateForDragEnter : function(target)
        {
            $("#draginto").addClass("lm-drag-over");
        },

        decorateForDragOver : function(target)
        {
            $("#draginto").addClass("lm-drag-over");
        },

        decorateForDragLeave : function(target)
        {
            $("#draginto").removeClass("lm-drag-over");
        },

        decorateForDrop : function(target)
        {
            $("#draginto").removeClass("lm-drag-over");
        },

        handleDropDataTransfer : function(dataTransfer, transientObject, target)
        {
            var files = dataTransfer.files;
            if( files.length > 0 )
            {
                $("#first-visual").remove();

                for( var i = 0; i < files.length; i++ )
                {
                    var file = files[i];

                    var $linkArea = $("<div>").addClass("lm-link-area");
                    $linkArea.addClass("lm-barber-pole")

                    var $fileBlock = $("<div>")
                        .addClass("lm-file-block")
                        .addClass("lm-file-block-size")
                        .append(
                            $("<div>").addClass("lm-file-title").text(file.name),
                            $linkArea
                        );

                    $("#draginto").append( $fileBlock );

                    $.when(sendFile(file)).then(
                        function(filename, result)
                        {
                            var info = JSON.parse(result);
                            var fullUrl = "https://sha-da.com/files/" + info.hashcode;

                            $("#first-visual").remove();

                            $linkArea.empty()
                            $linkArea.removeClass("lm-barber-pole")

                            var $linkText = $("<div>").addClass("lm-link-text").text(fullUrl);
                            var $copyButton = $("<div>")
                                .addClass("lm-copy-to-clipboard-button")
                                .addClass("lm-no-select")
                                .text("Copy").click(
                                function()
                                {
                                    if( copyTextToClipboard(fullUrl) )
                                    {
                                        $linkText.removeClass("lm-flash");
                                        $linkText.addClass("lm-flash");

                                        setTimeout(function() {
                                            $linkText.removeClass("lm-flash");
                                        }, 200);
                                    }
                                }
                            );

                            $linkArea.append(
                                $linkText,
                                $copyButton
                            )
                        }
                    );
                }
            }
        }
    }
);

</script>

{%endblock%}
