{% extends "base.html" %}
{%block title%}{%endblock%}
{%block main_content%}

<div id="first-visual">
    <div id="instructions" class="lm-ghost-file-block lm-file-block-size">
        Got a file to share?  Drag-and-drop it here for a download link.

        <svg class="lm-file-arrow-img" viewBox="0 0 12 12">
            <path
                d="
                    M  1,  1
                    l  0,  10
                    l  8,  0
                    l  0, -8
                    l -2, -2
                    l -6,  0
                    M  7,  1
                    l  0,  2
                    l  2,  0
                "
                stroke="#000"
                stroke-linecap="round"
                stroke-width="0.2"
                fill="#bbb"/>
                <path
                d="
                    M  5, 6.8
                    l  0, 4
                    l  0.942809, -0.390524
                    l  0.585786,  1.414214
                    l  0.942809, -0.390524
                    l -0.585786, -1.414214
                    l  0.942809, -0.390524
                    l -2.828427, -2.828427
                "
                stroke="#eee"
                stroke-linecap="round"
                stroke-width="0.2"
                fill="#000"/>
        </svg>
    </div>
</div>

<div id="draginto" class="lm-drag-receive">
</div>

<script>

var dgn = dgn || {};

dgn.IconSvgs = {
    clipboard : { d:'M768 -128h896v640h-416q-40 0 -68 28t-28 68v416h-384v-1152zM1024 1312v64q0 13 -9.5 22.5t-22.5 9.5h-704q-13 0 -22.5 -9.5t-9.5 -22.5v-64q0 -13 9.5 -22.5t22.5 -9.5h704q13 0 22.5 9.5t9.5 22.5zM1280 640h299l-299 299v-299zM1792 512v-672q0 -40 -28 -68t-68 -28 h-960q-40 0 -68 28t-28 68v160h-544q-40 0 -68 28t-28 68v1344q0 40 28 68t68 28h1088q40 0 68 -28t28 -68v-328q21 -13 36 -28l408 -408q28 -28 48 -76t20 -88z' },
};

dgn.getIconInfo = function(name)
{
    return dgn.IconSvgs[name];
};

dgn.getIconSvg = function(name, className, options)
{
    options = options || {};
    options.viewBox = options.viewBox || "0 0 25 25";
    options.transform = options.transform || "translate(3,17) scale(0.01,-0.01)";

    return $([
        '<svg class="' + (className || "icon") + '" viewbox="' + options.viewBox + '">',
        '<path transform="' + options.transform + '" d="',
        dgn.getIconInfo(name).d,
        '"/></svg>'].join(' ') );
};

dgn.getIconInfo = function(name)
{
    return dgn.IconSvgs[name];
};

copyTextToClipboard = function(text)
{
    var textArea = document.createElement("textarea");

    /*
        This styling is an extra step which is likely not required.

        Why is it here? To ensure:
        1. the element is able to have focus and selection.
        2. if element was to flash render it has minimal visual impact.
        3. less flakyness with selection and copying which **might** occur if
           the textarea element is not visible.

        The likelihood is the element won't even render, not even a flash,
        so some of these are just precautions. However in IE the element
        is visible whilst the popup box asking the user for permission for
        the web page to copy to the clipboard.
    */

    // Place in top-left corner of screen regardless of scroll position.
    textArea.style.position = 'fixed';
    textArea.style.top = 0;
    textArea.style.left = 0;

    // Ensure it has a small width and height. Setting to 1px / 1em
    // doesn't work as this gives a negative w/h on some browsers.
    textArea.style.width = '2em';
    textArea.style.height = '2em';

    // We don't need padding, reducing the size if it does flash render.
    textArea.style.padding = 0;

    // Clean up any borders.
    textArea.style.border = 'none';
    textArea.style.outline = 'none';
    textArea.style.boxShadow = 'none';

    // Avoid flash of white box if rendered for any reason.
    textArea.style.background = 'transparent';
    textArea.value = text;

    document.body.appendChild(textArea);

    textArea.select();

    try
    {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
    }
    catch (err)
    {
    }

    document.body.removeChild(textArea);
};

function readFile(file)
{
    var reader = new FileReader();
    var deferred = $.Deferred();

    reader.onload = function(evt)
    {
        var result = evt.target.result;
        if( result === "data:" )
            result = "data:;base64,";
        deferred.resolve( result );
    };

    reader.onerror = function()
    {
        deferred.reject( this );
    };

    reader.readAsDataURL( file );

    return deferred.promise();
};

function sendFile(file)
{
    var deferred = $.Deferred();
    var filename = file.name;
    $.when(readFile(file)).then( function(content)
    {
        $.when( $.ajax({
            type: "POST",
            url: "/upload-base64",
            dataType: "text",
            data: {filename: filename, content: content},
        }) ).then(
            function(result)
            {
                deferred.resolve(filename, result);
            }
        ).fail(
            function()
            {
                deferred.reject(filename);
            }
        );
    })

    return deferred.promise();
}

DragExt.init("lm-draggable", "lm-drag-receive",
    {
        getTransferDataMap : function(element)
        {
            return {};
        },

        getTransientObject : function(element)
        {
            return {};
        },

        getCustomDragImage : function(element)
        {
            return undefined;
        },

        getDefaultTransientObject : function()
        {
            return {type : "external", path: ""};
        },

        isDragAccepted : function(transientObject, target)
        {
            return true;
        },

        decorateForDragging : function(target)
        {

        },

        decorateForDragEnter : function(target)
        {
            console.log("enter" + target);
            $("#draginto").addClass("lm-drag-over");
        },

        decorateForDragOver : function(target)
        {
            console.log("over" + target);
            $("#draginto").addClass("lm-drag-over");
        },

        decorateForDragLeave : function(target)
        {
            console.log("leave" + target);
            $("#draginto").removeClass("lm-drag-over");
        },

        decorateForDrop : function(target)
        {
            $("#draginto").removeClass("lm-drag-over");
        },

        handleDropDataTransfer : function(dataTransfer, transientObject, target)
        {
            var files = dataTransfer.files;
            if( files.length > 0 )
            {
                $("#first-visual").remove();

                for( var i = 0; i < files.length; i++ )
                {
                    var file = files[i];

                    var $linkArea = $("<div>").addClass("lm-link-area");
                    $linkArea.addClass("lm-barber-pole")

                    var $fileBlock = $("<div>")
                        .addClass("lm-file-block")
                        .addClass("lm-file-block-size")
                        .append(
                            $("<div>").addClass("lm-file-title").text(file.name),
                            $linkArea
                        );

                    $("#draginto").append( $fileBlock );

                    $.when(sendFile(file)).then(
                        function(filename, result)
                        {
                            var info = JSON.parse(result);
                            var fullUrl = "https://sha-da.com/files/" + info.hashcode;

                            $("#first-visual").remove();

                            $linkArea.empty()
                            $linkArea.removeClass("lm-barber-pole")
                            $linkArea.append(
                                $("<div>").addClass("lm-link-text").text(fullUrl),
                                $("<div>").addClass("lm-copy-to-clipboard-button").append(
                                    dgn.getIconSvg("clipboard", "icon").click(
                                        function()
                                        {
                                            copyTextToClipboard(fullUrl)
                                        }
                                    )
                                )
                            )
                        }
                    );
                }
            }
        }
    });

</script>

{%endblock%}
